# Sample gitconfig
#

[hub]
        protocol = https
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
        helper = osxkeychain
[alias]
        co = checkout
        st = status -s
        ci = commit -v
        br = branch
        la = "!git config -l | grep alias | cut -c 7-"
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
        ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        filelog = log -u
        fl = log -u
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
        dl = "!git ll -1"
        dlc = diff --cached HEAD^
        unstage = reset HEAD --
        dr  = "!f() { git diff "$1"^.."$1"; }; f"
        wtf     = !$HOME/.dotfiles/git/scripts/git-wtf
        rank-contributors = !$HOME/.dotfiles/git/scripts/git-rank-contributors
        count   = !git shortlog -sn
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = vim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
        default = simple
